stages:
  - analyze
  - test
  - build

variables:
  FLUTTER_VERSION: "stable"

analyze:
  stage: analyze
  image: cirrusci/flutter:stable
  script:
    - flutter pub get
    - flutter analyze

test:
  stage: test
  image: cirrusci/flutter:stable
  script:
    - flutter pub get
    - flutter test

build_android:
  stage: build
  image: cirrusci/flutter:stable
  script:
    - flutter pub get
    - flutter build apk --release
    - flutter build appbundle --release
